
File konfigurasi ( php.ini ) dibaca saat PHP dinyalakan. Untuk versi modul server PHP, ini hanya terjadi sekali ketika server web dimulai. Untuk versi CGI dan CLI , hal itu terjadi pada setiap doa.

php.ini dicari di lokasi ini (secara berurutan):

SAPI modul lokasi tertentu ( PHPIniDir direktif di Apache 2, -c opsi baris perintah di CGI dan CLI, php_ini parameter dalam NSAPI, PHP_INI_PATH variabel lingkungan di THTTPD)
The PHPRC variabel lingkungan. Sebelum PHP 5.2.0, ini diperiksa setelah kunci registri disebutkan di bawah ini.
Seperti pada PHP 5.2.0, lokasi file php.ini dapat diatur untuk berbagai versi PHP. Kunci registri berikut diperiksa secara berurutan: [HKEY_LOCAL_MACHINE \ SOFTWARE \ PHP \ xyz] , [HKEY_LOCAL_MACHINE \ SOFTWARE \ PHP \ xy] dan [HKEY_LOCAL_MACHINE \ SOFTWARE \ PHP \ x] , di mana x, y dan z berarti besar PHP, minor dan versi rilis. Jika ada nilai untuk IniFilePath di salah satu kunci ini, yang pertama ditemukan akan digunakan sebagai lokasi php.ini (hanya untuk Windows).
[HKEY_LOCAL_MACHINE \ SOFTWARE \ PHP] , nilai IniFilePath (hanya untuk Windows).
Direktori kerja saat ini (kecuali CLI).
Direktori server web (untuk modul SAPI), atau direktori PHP (jika tidak di Windows).
Pilihan kotak centang Windows directory ( C: \ windows or C: \ winnt ) (untuk Windows), atau --with-config-file-path compile time.
Jika php-SAPI.ini ada (dimana SAPI di SAPI digunakan, jadi, misalnya, php-cli.ini atau php-apache.ini ), ini digunakan sebagai ganti php.ini . Nama SAPI dapat ditentukan dengan php_sapi_name () .

Catatan :
Server web Apache mengubah direktori menjadi root saat startup, menyebabkan PHP mencoba membaca php.ini dari filesystem root jika ada.
Menggunakan variabel lingkungan dapat digunakan di php.ini seperti yang ditunjukkan di bawah ini.
